* {
  box-sizing: border-box;
}

body{
  margin: 0%;
  padding: 0%;
}
.header {
  position: relative;
  width: 100%;
  max-height: 50%;
} 
.navigation{
  padding-top:20px;
  padding-bottom:10px;
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
  background-color: rgba(0,0,0,0.08);
}
.navbar-right{
  float:right;
  padding-right:5%;
}
.navbar-right a{
  text-decoration:none;
  padding:15px;
  color:whitesmoke;
  font-family:lucida calligraphy;
  font-weight: 200px;
}
  
.navbar-right a:hover{
  text-decoration:underline;
}
.video-container {
  z-index: -100;
  width:100%;
  height: 100%;
}
#video{
	width: 100%; 
  height: 100%;
	filter: brightness(45%);
}  
main {
  width: 100%;
  height: auto;
}
h1{
    text-align: center;
    font-family:lucida calligraphy;
    font-size: 30px;
}
.container{
  width: 100%;
  height: 450px;
  display:flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.text-container {
  padding: 0 20px;
  width: 50%;
  text-align: justify;
  font-family:lucida calligraphy;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#image {
    width: 50%;
    height: 100%;
    margin-left: 10px;
    margin-right: 20px;
    background-image: url(assets/tay\ iwar.webp);
    background-repeat: no-repeat;
    animation: anim 15s infinite ease-in-out;
   }


@keyframes anim {
  25%{background-image: url(assets/Tay-Iwar-Gemini-FB.jpg);}
  50%{background-image: url(assets/Tay-Iwar-press-photo.jpg);}
  75%{background-image: url(assets/Tay\ Iwar.jpg);}
  /* 75%{background-image: url(assets/Tay-Iwar.webp);} */
}

.Images {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  grid-column-gap: 50px;
  grid-row-gap: 5px;

}

img {
  width: 350px;
  height: auto;
  margin-top: 20px;
}
/*.vidtext{
  min-height: 2px;
  text-align: center;
  align-items:center;
  justify-content: center;
  
}
.vidtext p{
  background: #000 none repeat scroll 0 0;
  mix-blend-mode: overlay;
  text-align: center;
  padding: 5px 15px;
  color: black;
}



